<div id="<%= dom_id movimentacao %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= movimentacao.data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= movimentacao.descricao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor:</strong>
    <%= movimentacao.valor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo:</strong>
    <%= movimentacao.tipo %>
  </p>

</div>
